.header {
    position: relative;

    background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3);
    background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3);
    background-image: linear-gradient(#f9f9f9, #f3f3f3);
    background-repeat: repeat-x;

    height: 13em;
    width: 100%;

    border-bottom: 1px solid #e5e5e5;
}

.octocatImage {
    background-image: url("./../img/inspectocat.png");
    width: 18em;
    height: 18em;
    background-size: 100% 100%;
    top: 0em;
    left: 21em;
    position: absolute;
}

.githubLogo {
    background-image: url("./../img/GitHub-Logo.png");
    width: 16em;
    height: 4em;
    background-size: 100% 100%;
    top: 6em;
    left: 39em;
    position: absolute;
}

.recruiterLogo {
    width: 4em;
    font-size: 5em;
    height: 1em;
    background-size: 100% 100%;
    top: 1em;
    left: 11.1em;
    position: absolute;
    font-family: 'Yesteryear', cursive;
    color: rgb(33, 3, 71);
}

