<div id="about" style='background-color: rgb(94, 196, 234);
padding-top: 1em;
padding-left: 4em;
margin-top: 8em;
position: relative;
padding-right: 24em;
height: 16em;
color: white;
font-weight: 100;
font-family: sans-serif;
'>
    <h3>What is the GitHub recruiter?</h3>

    <img style="position: absolute;
top: -2em;
right: 2em;
width: 20em;
border: 8px solid rgb(94, 196, 234);" src="img/socialite.jpg" class="img-circle">

    <p>
        Let's think about GitHub as a social network, a social network where the users are <strong>developers</strong>.
        Developers with skills in particular languages, particular expertice you might be looking for !
    </p>
    <p>
        Here is where the GitHub recruiter comes to life. A personal open source project to search for this data (<strong>developers</strong>), filter it
        and use it to give them the chance to be contacted for more opportunities !
    </p>
    <p>
        <strong>Important: </strong>This is a <strong>personal open source</strong> project and it has nothing to do with the GitHub organization.
    </p>

</div>

<div style="background-color: rgb(136, 185, 166);
border-top-left-radius: 10px;
border-top-right-radius: 10px;
padding-top: 2em;
padding-left: 14em;
margin-top: 8em;
margin-right: 20em;
margin-left: 20em;
position: relative;
padding-right: 3em;
height: 12em;
position: fixed;
bottom: 0;
color: white">

    <h3>Who am I?</h3>

    <img style="position: absolute;
top: 1em;
left: 3em;
width: 10em;" src="img/me.jpeg" class="img-circle">

    <p>
        My name is Franco Arolfo. I'm a passionated (developer) for the useful open source projects that can impact on our every day living.
        I'm currently working at MuleSoft as javascript UI engineer for CloudHub (an integration platform as a service that runs the Mule ESB in the Cloud).
    </p>
</div>