<div>
    <div class="searchContainer">
        <ul class="nav nav-tabs">
            <li class="organizationTab"><a ui-sref="search.organization">by Organization</a></li>
            <li class="repositoryTab"><a ui-sref="search.repository">by Repository</a></li>
        </ul>
        <div ui-view></div>
    </div>

    <div id="resultsContainer">
        <div class="search-loading" ng-show="recruiting">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>

        <search-result result="result" ng-repeat="result in results"></search-result>
    </div>
</div>