<div class="search-result">
    <img ng-src="{{result.avatar_url}}" class="img-rounded">
    <div class="result-info">
        <label class="name">{{result.name}}</label>
        <label class="email">{{result.email}}</label>
        <small class="login">GitHub username: {{result.login}}</small>
        <small class="company" ng-show="result.company">Company: {{result.company}}</small>
    </div>

    <div class="search-linkedin-container" ng-show="result.name">
        <search-in-linkedin name="result.name"></search-in-linkedin>
    </div>

    <div class="search-github-container" ng-show="result.html_url">
        <a href="{{result.html_url}}" target="_blank"><i class="fa fa-github"></i> GitHub</a>
    </div>

</div>